<h1>Hello! I'm Bilal Salim. My SKILLS in the PILLS are mentioned above. You can play with them by DRAG and DROP. <span [innerHTML]="someVariable"></span></h1>
<p>I have created this Portfolio App with Angular 17 standalone components. You can contact me below mediums</p>
<div class="links">
    <a href="https://www.linkedin.com/in/bilalsalim665" target="_blank">
        <img src="../../assets/images/linkedin.png" alt="LinkedIn">
        <div class="hidden-label">LinkedIn</div>
    </a>
    <a href="https://github.com/bilalsalim665?tab=repositories" target="_blank">
        <img src="../../assets/images/github.png" alt="Github">
        <div class="hidden-label">Github</div>
    </a>
    <a href="https://www.instagram.com/iambilalsalim" target="_blank">
        <img src="../../assets/images/instagram.png" alt="Instagram">
        <div class="hidden-label">Instagram</div>
    </a>
</div>
  
  
