<h1>Hello! I'm Bilal Salim. You can drag and drop above Skill Pills</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error harum odit delectus optio unde cupiditate voluptatem exercitationem consequatur distinctio et quas nam ipsa enim, amet veritatis obcaecati, tenetur doloremque accusamus.</p>
<div class="links">
    <a href="https://www.linkedin.com/in/bilalsalim665" target="_blank">
        <img src="../../assets/images/linkedin.png" alt="LinkedIn">
        <div class="hidden-label">LinkedIn</div>
    </a>
    <a href="https://github.com/bilalsalim665?tab=repositories" target="_blank">
        <img src="../../assets/images/github.png" alt="Github">
        <div class="hidden-label">Github</div>
    </a>
    <a href="" target="_blank">
        <img src="../../assets/images/instagram.png" alt="Instagram">
        <div class="hidden-label">Instagram</div>
    </a>
</div>