<main 
(mousemove)="onMouseMove($event)"
(mouseup)="onMouseOut()"
(resize)="onResizeScreen()"    
>
    <div class="banner">
        <h5>Lundeveloper</h5>
        <div>
            <h1 class="left">ANIMATION spider man</h1>
            <h1 class="right">using JAvascript</h1>
        </div>
        <h4>
            Subscribe to the channel to continuously
            <br>update interesting videos
        </h4>
        <button>Testing</button>

        <canvas id="dotsCanvas" #canvasElement></canvas>
    </div>
</main>  
