
.mat-accordion{ 
    display: flex;
    flex-direction: column;
    width: 650px;  
    margin-bottom: 30px; 

    .mat-expansion-indicator::after {
        color: white !important;
    }  
  
    mat-expansion-panel{
        background-color: #21343c;   
    }
    .mat-expansion-panel{
        color: white;   
    }
    .mat-expansion-panel-header-title{
        color: white;
    }    
    mat-expansion-panel-header{
        padding: 15px;
        font-size: 20px;
        font-weight: 500;        
    }   
    .experience-title{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        margin: 8px;
    }    
    .responsibility{
        padding: 2px;
        margin: 2px 4px;
        text-align: left;        
    }
}

